a{
    display: inline-block;
   margin-top: 10px;
}

form{
    display: inline;
}
p{
    padding-top: 20px;
    padding-bottom: 20px;
}
.container{
    margin-top : 50px
}

button{
    margin-top: 10px;
}

